## Exercise 19: Print Full Multiplication Table
### The multiplication table from 1 to 10 is a table that shows the products of numbers from 1 to 10.

### Write a code to generates a complete multiplication table for numbers 1 through 10.

In [4]:
for i in range(1,11):
    print("Multiplication Table of ", i)
    for j in range(1,11):
        print(i*j ,end=" ")
    print()

Multiplication Table of  1
1 2 3 4 5 6 7 8 9 10
Multiplication Table of  2
2 4 6 8 10 12 14 16 18 20
Multiplication Table of  3
3 6 9 12 15 18 21 24 27 30
Multiplication Table of  4
4 8 12 16 20 24 28 32 36 40
Multiplication Table of  5
5 10 15 20 25 30 35 40 45 50
Multiplication Table of  6
6 12 18 24 30 36 42 48 54 60
Multiplication Table of  7
7 14 21 28 35 42 49 56 63 70
Multiplication Table of  8
8 16 24 32 40 48 56 64 72 80
Multiplication Table of  9
9 18 27 36 45 54 63 72 81 90
Multiplication Table of  10
10 20 30 40 50 60 70 80 90 100

# Exercise 18: Print the following pattern
#### Write a program to print the following start pattern using the for loop

In [10]:
for i in range(0,6,1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
    
for i in range(1,5):
    for j in range(5-i,1,-1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * *
* *
*

## Exercise 17: Find the sum of a series of a number up to n terms
#### Write a program to calculate the sum of this series up to n terms. For example, if the number is 2 and the number of terms 
#### is 5, then the series will be 2+22+222+2222+22222=2469

In [13]:
terms = 5
# first number of sequence
num = 2
sum_seq = 0

# run loop n times
for i in range(0, terms):
    print(num, end="+")
    sum_seq += num
    # calculate the next term
    num = num * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690

#### Exercise 16: Calculate the cube of all numbers from 1 to a given number
#### Write a Python program to print the cube of all numbers from 1 to a given number

#### Given:

#### input_number = 6

In [17]:
num = int (input("Enter the number : "))
for i in range(1,num+1):
    print(f"cube of the {i} is {i**3}")

cube of the 1 is 1
cube of the 2 is 8
cube of the 3 is 27
cube of the 4 is 64
cube of the 5 is 125
cube of the 6 is 216

#### Exercise 15: Print elements from a given list present at odd index positions

In [20]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in range(0,len(my_list)):
    if i%2 !=0:
        print(my_list[i] , end=" ")

20 40 60 80 100

#### Exercise 14: Reverse a integer number
#### Given:
#### 76542
#### Expected output:
#### 24567

In [ ]:
num = int("enter the number ")
print(num)
for i in range(len(num)-1,-1,-1):
    print(num[i],end="")

76542
24567

### Exercise 10: Display a message “Done” after the successful execution of the for loop

In [2]:
for i in range(1,6):
    print(i)
print("Done ! ")

1
2
3
4
5
Done !

#### Exercise 11: Print all prime numbers within a range

In [3]:
start = 25
end = 50
print("Prime numbers between", start, "and", end, "are:")

for num in range(start, end + 1):
    # all prime numbers are greater than 1
    # if number is less than or equal to 1, it is not prime
    if num > 1:
        for i in range(2, num):
            # check for factors
            if (num % i) == 0:
                # not a prime number so break inner loop and
                # look for next number
                break
        else:
            print(num)

Prime numbers between 25 and 50 are:
29
31
37
41
43
47

### Exercise 12: Display Fibonacci series up to 10 terms

In [4]:
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

#### Exercise 13: Find the factorial of a given number

In [5]:
num = 5
factorial = 1
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:
    print("The factorial of 0 is 1")
else:
    # run loop 5 times
    for i in range(1, num + 1):
        # multiply factorial by current number
        factorial = factorial * i
    print("The factorial of", num, "is", factorial)

The factorial of 5 is 120